* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$small: 600px;
$medium: 768px;
$medium-large: 1024px;

html, body {
    color-scheme: dark;
    overflow-x: hidden;

    @media screen and (max-width: $small) {
        overflow-x: hidden;
    }

    @media screen and (max-width: $medium) {
        overflow-x: hidden;
    }
    @media screen and (max-width: $medium-large) {
        overflow-x: hidden;
        
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(243, 243, 243);
    background-color: #131212;

}

.hero_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;

    @media screen and (max-width: $small) {
        overflow: hidden;
    }
    @media screen and (max-width: $medium) {
        overflow-x: hidden;
    }
    @media screen and (max-width: $medium-large) {
        overflow-x: hidden;
    }

    h4 {
        margin-left: 5rem;

        span {
            margin-left: .1rem;
            font-weight: 100;
        }
        @media screen and (max-width: $small) {
            margin-left: 1.3rem;   
        }
        @media screen and (max-width: $medium) {
            margin-left: 1.3rem;
        }

    }

    ul {
        display: flex;
        list-style: none;
        margin-right: 5rem;
        align-items: center;

        @media screen and (max-width: $small) {
            display: flex;
            position: absolute;
            right: 0;
            top: 8%;
            flex-direction: column;
            width: 100% ;
            margin-right: 0;
            height: 92vh;
            align-items: center !important;
            z-index: 5;
            background-color: #131212;
            transform: translateX(100%);
            transition: .5s cubic-bezier(0.47, 0, 0.745, 0.715);
            opacity: .98;
            justify-content: space-around !important;
            display: none;
        }

        li {
            @media screen and (max-width: $small) {
                display: flex;
                justify-content: center;
                opacity: 0;
                margin-block: 5rem;
            }
            @media screen and (max-width: $medium) {
                opacity: 0;
            }

            a {
                color: white;

            }
            
        }
        li a:nth-child(1) {
            margin-inline-end: 1rem;
        }


        button{
            padding-inline: 1rem ;
            text-decoration: none;
            font-weight: 200;
            color: #fff;
            font-size: smaller;
            background-color: transparent;
            border: 0;

        }

        a i {
            font-size: 2rem;

        }
    }

    .nav-active {
        transform: translateX(0%);
        display: block;
    }

    .burger {
        z-index: 10;
        cursor: pointer;
        display: none;

        @media screen and (max-width: $small) {
            display: block !important;

        }

        @media screen and (max-width: $medium) {
            display: block !important;

        }

        @media screen and (max-width: $medium-large) {
            display: none;
        }
        
    }

    .line {
        background-color: white;
        width: 25px;
        height: 3px;
        margin-right: 1.7rem;
        border-radius: 10px;
    }

    .line:nth-of-type(3) {
        margin-top: .2rem;
    }
    .line:nth-of-type(2){
        margin-top: .2rem;
    }

}

@keyframes navLinkFade {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
    position: relative;
    width: 100%;
    

    @media screen and (max-width: $small) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: $medium) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: $medium-large) {
        
    }


    .progressbar {
        justify-self: flex-start;
        position: absolute;
        right: 5%;

        @media screen and (max-width: $small) {
            display: none;
        }
        @media screen and (max-width: $medium) {
            display: none;
        }
        @media screen and (max-width: $medium-large) {
            display: none;
        }
        

        .rectangle {
            width: .7rem;
            height: .7rem;
            transform: rotate(45deg);
            border: 1px solid rgb(32, 131, 32);
            margin-block: .7rem;
        }

        .rectangle:first-of-type {
            background-color: rgb(32, 131, 32);
        }
    }
    .hero_image {
        background-image: url('./images/my-image.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: .5px solid rgba(255, 255, 255, 0.246);
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        margin-left: 2rem;

        @media screen and (max-width: $small) {
            width: 13rem !important;
            height: 13rem !important;
            margin-left: 0rem;
        }
        @media screen and (max-width: $medium) {
            width: 15rem;
            height: 15rem;
            margin-left: 0rem;
        }
        @media screen and (max-width: $medium-large) {
        width: 18rem;
        height: 18rem;
        }
    }

    .hero_text {
        margin-right: 2rem;

        @media screen and (max-width: $small) {
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
        }
        @media screen and (max-width: $medium) {
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
        }


        h1 {
            font-size: 4rem;
            text-transform: uppercase;
            @media screen and (max-width: $small) {
                font-size: 3rem !important;
                margin-top: 2rem !important;
            }
            @media screen and (max-width: $medium) {
                margin-top: 3rem;
            }
            @media screen and (max-width: $medium-large) {
                font-size: 3.5rem;
            }
        }

        p:first-of-type {
            font-size: 1.5rem;
            margin-top: 1rem;
            font-weight: 300;
            text-align: center;
            opacity: 0.7;
            span {
                font-weight: bold;
                opacity: 1;
                
            }

            @media screen and (max-width: $small) {
                font-size: 1.3rem !important;
                opacity: 1;
            }
            @media screen and (max-width: $medium-large) {
            font-size: 1.3rem;
            }
        }

        p:last-of-type {
            font-size: 1rem;
            margin-top: .5rem;
            font-weight: 200;
            text-align: center;
            opacity: .5;

            @media screen and (max-width: $small) {
                font-size: .9rem;
                opacity: .9;
            }
        }
    }

}


.about_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .1px solid rgba(255, 255, 255, 0.129);
    background-color: #131212;
    img {
        height: 100vh;

        @media screen and (max-width: $small) {
            display: none;
        }
        @media screen and (max-width: $medium) {
            display: none;
        }
        @media screen and (max-width: $medium-large) {
            height: 100vh;
        }
    }

    .progressbar {
        justify-self: flex-start;
        // position: absolute;
        margin-inline: 5rem;
        @media screen and (max-width: $small) {
            display: none;
        }
        @media screen and (max-width: $medium) {
            display: none;
        }
        @media screen and (max-width: $medium-large) {
            display: none;
        }

        .rectangle {
            width: .7rem;
            height: .7rem;
            transform: rotate(45deg);
            border: 1px solid rgb(32, 131, 32);
            margin-block: .7rem;
        }

        .rectangle:nth-of-type(2) {
            background-color: rgb(32, 131, 32);
        }
    
    }

    .about_me_text {
        width: 40rem;
        margin-left: 5rem;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // padding-right: 5rem;

        @media screen and (max-width: $small) {
            max-width: $small;
            margin: auto;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 3rem;
            height: auto;
            
        }
        @media screen and (max-width: $medium) {
            max-width: 100%;
            margin: auto;
            // justify-content: space-evenly;
            justify-content: center;
            align-items: center;
            
        }
        @media screen and (max-width: $medium-large) {
            margin-left: 0rem;
            flex: 1;
        }

        h2 {
            // border-bottom: 1px solid rgba(255, 255, 255, 0.344);
            font-size: 4rem;
            font-weight: 500;

            i {
                font-size: smaller;
                margin-left: 3rem;
            }

            @media screen and (max-width: $small) {
                font-size: 2rem !important;
                border-bottom: 0;
            }
            @media screen and (max-width: $medium) {
                font-size: 3rem;
                border-bottom: 0;
                margin-bottom: 3rem;
            }
            @media screen and (max-width: $medium-large) {
                font-size: 3rem;
                align-self: center;  
            }
        }

        p {
            line-height: 2rem;
            font-weight: 300;

            @media screen and (max-width: $small) {
                max-width: 85%;
                font-size: 1rem;
                padding-bottom: 3rem;
                text-align: center;
            }
            @media screen and (max-width: $medium) {
                width: 100%;
                font-size: 1.2rem;
                
            }
            @media screen and (max-width: $medium-large) {
                font-size: 1rem;
                width: 85%;
                align-self: center;
            }
        }
    }
}


.knowledge_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .1px solid rgba(255, 255, 255, 0.129);
    position: relative;
    background-color: #131212;
    margin-bottom: 3rem;


    .progressbar {
        justify-self: flex-start;
        position: absolute;
        right: 5%;
        top: 30%;

        @media screen and (max-width: $small) {
            display: none;
        }
        @media screen and (max-width: $medium) {
            display: none;
        }
        @media screen and (max-width: $medium-large) {
            display: none;
        }

        .rectangle {
            width: .7rem;
            height: .7rem;
            transform: rotate(45deg);
            border: 1px solid rgb(32, 131, 32);
            margin-block: .7rem;
        }

        .rectangle:nth-of-type(3) {
            background-color: rgb(32, 131, 32);
        }
    
    }

    h2 {
        margin-block: 4rem;
        font-size: 4rem;
        font-weight: 500;

        i {
            margin-left: 3rem;
        }

        @media screen and (max-width: $small) {
            font-size: 2rem !important;
        }
        @media screen and (max-width: $medium) {
            font-size: 3rem;
        }
        @media screen and (max-width: $medium-large) {
            font-size: 3rem;   
        }
    }
    .knowledge_wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .rectangle {
            width: 30%;
            width: 20rem;
            // border: 1px solid white;
            height: 25rem;
            margin-block-end: 2rem;
            margin-inline: .5rem;
            border-radius: 1rem;
            // background-color: rgba(243, 243, 243, 0.783);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            @media  screen and (max-width: 415px) {
                max-width: 10rem !important;
                height: 4rem ;
            }

            @media screen and (max-width: $small) {
                width: 12rem !important;
                height: 12rem !important;
            }
            @media screen and (max-width: $medium) {
                width: 13rem;
                height: 13rem;
            }
            @media screen and (max-width: $medium-large) {
                width: 15rem;
                height: 15rem;
            }
        }

        .rectangle img {
            width: 8rem;

            @media screen and (max-width: $small) {
                width: 4rem;
            }
            @media screen and (max-width: $medium) {
                width: 6rem;
            }
        }

        .rectangle p {
            color: white;
            font-size: larger;
            font-weight: 600;

            @media screen and (max-width: $small) {
                font-size: 1rem;
            }
            @media screen and (max-width: $small) {
                font-size: 1rem;
            }
        }

        .rectangle:nth-of-type(2) img {
            width: 10rem;

            @media screen and (max-width: $small) {
                width: 5rem;
            }
            @media screen and (max-width: $medium) {
                width: 8rem;
            }
        }

        .rectangle:nth-of-type(4) i {
            color: #cf649a;
            font-size: 8rem;

            @media screen and (max-width: $small) {
                font-size: 4rem;
            }
            @media screen and (max-width: $medium) {
                font-size: 5rem;
            }
        }

        .rectangle:nth-of-type(5) p {

            span {
                @media screen and (max-width: $small) {
                    font-size: .8rem;
                    opacity: .8;
                }
                @media screen and (max-width: $medium) {
                    font-size: 1rem;
                    opacity: .8;
                }
            }

            @media screen and (max-width: $small) {
                text-align: center;

            }
            @media screen and (max-width: $medium) {
                text-align: center;

            }
        }

        .rectangle:nth-of-type(5) i {
            color: #539e43;
            font-size: 8rem;

            @media screen and (max-width: $small) {
                font-size: 4rem;
                display: flex;
                
            }
            @media screen and (max-width: $medium) {
                font-size: 6rem;
                display: flex;
                
            }
        }

    }
}


.works_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: .1px solid rgba(255, 255, 255, 0.129);
    background-color: #131212;
    border-bottom: .1px solid rgba(255, 255, 255, 0.129);;


    h2 {
        margin-block: 4rem;
        font-size: 3rem;
        font-weight: 500;

        i {
            margin-left: 3rem;
        }

        @media screen and (max-width: $small) {
            font-size: 2rem !important;
            margin: 1rem 0 0 0 ;
        }
        @media screen and (max-width: $medium) {
            font-size: 3rem;
            margin: 1rem 0 0 0 ;
        }
    }

    .works_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $small) {
            margin-top: 2rem;
        }
        @media screen and (max-width: $medium) {
            margin-top: 2rem;
        }

        a {

            display: flex;
            justify-content: center;
        }

        img {
            height: 75vh;
            transition: 200ms ease;
            border-radius: 1rem;

            @media screen and (max-width: $small) {
                width: 90%;
                height: auto !important;
                // height: auto;
            }
            @media screen and (max-width: $medium) {
                width: 90%;
                height: fit-content;
            }
            @media screen and (max-width: $medium-large) {
                width: 90%;
                height: auto;
            }
        }

        img:hover {
            transform: scale(1.01);
            border-radius: 1rem;
        }
    }

    .clickMeBtn {
        
        margin-block: 2rem;

        i {
            margin-left: 1rem;
        }
    }
}

.form-section {
    display: flex;
    height: auto;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    

    @media screen and (max-width: $small) {
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        width: 90%;
        margin-top: 2rem !important;

    }
    @media screen and (max-width: $medium) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

    }
    @media screen and (max-width: $medium-large) {
        margin-top: 5rem;

    }
    .form-intro {
        display: flex;
        flex-direction: column;
        width: 90%;
        flex: 1;
        margin-inline-end: 5rem;

        @media screen and (max-width: $small) {
            margin-inline-end: 0rem !important;
            flex: 0;
            margin-bottom: 2rem;
            align-items: center !important;
        }
        @media screen and (max-width: $medium) {
            margin-inline-end: 0;
            flex: 0;
            margin-bottom: 2rem;
        }
        @media screen and (max-width: $medium-large) {
            flex: 1;
            margin-bottom: 2rem;
            align-items: center;
            margin-inline-end: 2rem;
        }

        h3{
            font-size: 3.5rem;
            font-weight: 500;

            @media screen and (max-width: $small) {
                font-size: 1.5rem;
            }
            @media screen and (max-width: $medium) {
                font-size: 2rem;
                margin-top: 5rem;
            }
            @media screen and (max-width: $medium-large) {
                font-size: 3rem;

            }
        }
        p {
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: 200;
            line-height: 2.4rem;
            span {
                font-weight: 500;
            }

            @media screen and (max-width: $small) {
                font-size: 1rem !important;
                line-height: 1.5rem !important;
            }
            @media screen and (max-width: $medium) {
                font-size: 1.3rem;
                line-height: 2rem;
            }
            @media screen and (max-width: $medium-large) {
                font-size: 1.3rem;
                line-height: 2rem;
                text-align: center;
            }
        }
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 90%;
        margin-top: 3rem;

        @media screen and (max-width: $small) {
            flex: 0;
        }
        @media screen and (max-width: $medium) {
            flex: 0;
            margin-top: 2rem;
        }
        .input-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            label {
                font-size: 1.5rem;
                font-weight: 200;
                margin-bottom: .3rem;

                @media screen and (max-width: $small) {
                    font-size: 1rem;
                }
                @media screen and (max-width: $medium) {
                    font-size: 1.3rem;
                }
                @media screen and (max-width: $medium-large) {
                    font-size: 1rem;
                }
            }
            input {
                font-size: 1.5rem;
                // border: .5px solid firebrick;

                @media screen and (max-width: $small) {
                    font-size: .8rem;
                    padding: .3rem .3rem;
                }
                @media screen and (max-width: $medium) {
                    font-size: 1rem;
                    padding: .3rem .3rem;
                }
                @media screen and (max-width: $medium-large) {
                    font-size: .8rem;
                    padding: .3rem .3rem;
                }
            }
            textarea {
                resize: none;
                font-family: 'Montserrat', sans-serif;
                padding: .5rem;

                @media screen and (max-width: $small) {
                    height: 5rem;
                }
                @media screen and (max-width: $medium) {
                    height: 10rem;
                }
            }
        }

        .send-btn {
            font-size: 1rem;
            padding: .5rem 2rem;
            display: inline-block;
            width: fit-content;
            background-color: rgb(32, 131, 32);
            outline: none;
            border: 0;
            border-radius: .2rem;
            cursor: pointer;
            transition: 200ms ease;
            color: white;

            @media screen and (max-width: $small) {
                padding: .3rem 1.5rem !important;
                width: 100%;
                font-size: 1rem !important;
            }
            @media screen and (max-width: $medium) {
                padding: .5rem 1.5rem;
                width: 100%;
                font-size: 1.3rem;
            }
        }
        .send-btn:hover {
            background-color: rgb(24, 152, 24);
            transform: scale(1.02);
        }

        .sendErrorText {
            visibility: hidden;
            margin-top: .5rem;
        }

        .emailSent {
            opacity: 0;
            @media screen and (max-width: $small) {
                width: 80%;
            }

            .fa-thumbs-up {
                color: rgb(32, 131, 32);

            }
        }
    }
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 1rem;
    background-color: #131212;
    

    .logo {
        margin-block: 4rem;
        font-size: 1.7rem;
        border-bottom: .1px solid rgba(255, 255, 255, 0.172);
        padding-inline: 5rem;
        padding-block-end: .3rem;

        @media screen and (max-width: $small) {
            margin-bottom: 2rem;
            font-size: 1.3rem !important;
            padding-block-end: .8rem;
        }
        @media screen and (max-width: $medium) {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            padding-block-end: .8rem;
        }
        @media screen and (max-width: $medium-large) {
            margin-bottom: 2rem;
            font-size: 2rem;
            padding-block-end: .8rem;
        }
        span {
            margin-left: .1rem;
            font-weight: 100;
        }
    }
}

.panel {
    background-color: #131212;
}

#backToTopBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    background-color: rgba(255, 255, 255, 0.225);
    border: 0;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    transition: 300ms ease;
    display: none;
    color: white;
    
}